* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	line-height: 1.5;
}

a {
	color: #b8860b;
	text-decoration: none;
}

.container {
	padding: 14px 16px;
}

.search {
	display: block;
	color: black;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 10px;
}
